
main {
  width: 70%;
  margin: 0 auto;
}
header {
  cursor: pointer;
  font-family: cursive;
  font-size: 40px;
  margin-bottom: 20px;
  text-decoration: underline;
  text-align: center;
}

#start-screen {
  text-align: center;
  margin: 0 auto;
  line-height: 24px;
}
span {
  font-family: fantasy;
}

#ultimateTable {
  margin: 0 auto;
}
table {
  border-spacing: 0px;
}
tbody {
}
td {
  margin: 0;
  text-align: center;
  border: 1px solid gray;
}
.cellRow {

}
.ultimateCell {
  border: 1px solid black;
  border-spacing: 0px;
  padding: 0px;

}
.cell {
  height: 48px;
  width: 48px;
  padding: 0px;
  font-family: Helvetica;
  font-size: 42px;
  border: 1px solid gray;
  background-color: transparent;
  cursor: pointer;
}
.cell:hover {
  background-color: rgba(200, 200, 200, .6);
}

footer {
  height: 24px;
  text-align: center;
  font-family: serif;
  font-size: 24px;
  margin: 20px auto;
}
/*.ultimateCell {
  border: 2px solid black;
}*/
/*#i0-0 {
  background-color: green;
  border-width: 5px;
  border-color: green;
}

#i1-1 > * {
  color: transparent;
  background-color: blue;
  visibility: hidden;
}
#i1-1 {
  background-color: blue;
  z-index: 10;
}*/
